*{
    margin: 0%;
    padding: 0%;
}
.banner{
    background-image: linear-gradient(rgba(0,0,0,0.60), rgba(0,0,0,0.60)), url(image2.jpg);
    height: 100vh;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.content{
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    color: white;
}
.heading{
    font-size: 300%;
    font-weight: bold;
}
.content p{
    font-weight: 50px;
    line-height: 25px;
}
body{
    font-family: 'Inconsolata', monospace;
}
.btn{
    background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}
.seperate{
    margin-bottom: px;
}
#header{
    font-size: 450%;
    font-weight: %;
    text-align: center;
    font-weight: bold;
}
.empty{
    font-weight: 50px;
    line-height: 25px;
    text-align: justify;
    margin: 200px 200px;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
}
.box{
    width: 10%;
    height: 300%;
    background-color: rgb(255, 191, 0);
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    font-weight: bold;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%;
    border: 1px;
    border-color: tomato;
    border-radius: 15%;
}